<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}Welcome!{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
